:root {
    --main-bg-color: #2874f0;
}


* {
    margin: 0;
    padding: 0;
}

header {
    background-color: var(--main-bg-color);
    /* color: white; */
    /* border: 2px solid red; */
}

nav {
    display: flex;
}

.logo {
    display: flex;
    /* justify-content: center; */
    align-items: center;
}

.logo img {
    width: 85px;
    padding: 0 20px;
}

nav ul {
    height: 8vh;
    display: flex;
    justify-content: flex-start;
    /* padding: 2vh; */
    align-items: center;
}

nav ul li {
    list-style: none;
    padding: 0 3vh;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

nav ul li a:hover {
    font-weight: bold;
}

.search {
    display: flex;
    align-items: center;
}

.search input {
    width: 30vw;
    height: 3vh;
    border-radius: 2px;
    margin: 0 1vw 0 5vw;
    padding: 0 2vw;
}

.search button:hover {
    font-weight: bold;
}

.container {
    min-height: calc(100vh - 12vh - 12vh);
}

.slider {
    width: 80vw;
    margin: 12px auto;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.slider img {
    width: 80vw;
    height: 350px;
    margin: 12px auto;
    overflow: hidden;
}

.card {
    width: 90vw;
    /* max-width: ; */
    margin: 35px auto;
}

.cards{
    display: flex;
    justify-content: center;
    overflow: hidden;
}
.card-item {
    width: 12vw;
    display: inline-flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 12px;
}

footer {
    height: 12vh;
    background-color: var(--main-bg-color);
    color: white;
}